---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    <div class="page__container">
      <div class="page__navigation">
        {% include navigation.html %}
      </div>
      <div class="page__content">
        {% include masthead.html %}
        {{ content }}
      </div>
      <div class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
          <style>
            .footnotes {
              max-width: 80%;
              margin-left: auto;
              margin-right: auto;
            }
          </style>
        </footer>
      </div>
    </div>

    {% include scripts.html %}

  </body>
</html>
