---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}

    <div class="page__navigation">
      {% include navigation.html %}
    </div>

    {% include masthead.html %}

    <div class="page__content">
      {{ content }}

      <div class="footnotes">
        <hr>
        <ol>
          {% for note in site.footnotes %}
            <li id="fn:{{ note[0] }}">
              {{ note[1] }}
              <a href="#fnref:{{ note[0] }}" class="reversefootnote">&#8617;</a>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <div class="page__footer">
      <footer>
        Last modified: March 19th, 2023.
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>


