---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}

    <div class="page__navigation">
      {% include navigation.html %}
    </div>

    <div class="page__content">
      {% include masthead.html %}
      {{ content }}
      <div class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include scripts.html %}

    <style>
      .page__navigation,
      .page__footer {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 99;
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      .page__navigation {
        top: 0;
      }

      .page__footer {
        bottom: 0;
      }
    </style>

  </body>
</html>
